<div class="mat-app-background">
    <div>
        <h1>Welcome to {{ title }}!</h1>
        <mat-card class="info-card">
            <mat-card-header>
                <div mat-card-avatar class="header-image"></div>
                <mat-card-title>{{info.model_name}}</mat-card-title>
                <mat-card-subtitle>{{info.description}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>{{info.serial_number}}</li>
                    <li>{{info.firmware_version}}</li>
                    <li>{{info.hardware_revision}}</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <h2>Currently connected devices</h2>
        <mat-grid-list cols="4" rowHeight="200px">
            <mat-grid-tile *ngFor="let item of devices">
                <mat-card class="device-card">
                    <mat-card-header>
                        <div mat-card-avatar class="header-image"></div>
                        <mat-card-title>{{item.name}}</mat-card-title>
                        <mat-card-subtitle>{{item.mac}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <ul>
                            <li>{{item.link_type}}</li>
                            <li>{{item.allow_or_block}}</li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button (click)="allowBlockDevice(item.mac, 'Allow')">Allow</button>
                        <button mat-button (click)="allowBlockDevice(item.mac, 'Block')">Block</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
